
.intro {
    cursor: url('../img/squre.png'), auto;

}
.intro_text {
    padding-top: 70px;
    padding-left: 30px;
    color: whitesmoke;
    text-align: left;
    font-size: 50px;
    font-family:'Alumni Sans Inline One'

}



/* .intro_text :hover{
    color: violet
} */

.intro_photo img {
    padding-top: 200px;
    padding-bottom: 30px;
    width: 80%;
    position: relative;
}

.intro_text span:hover{
    color: #57068c;
}


.sig{
    width: 90%;
    padding-left: 300px;
    padding-bottom: 10px;
}

#violet :hover {
    color: #57068c;
}

.bloc-logo {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .bloc-logo canvas,
  .bloc-logo .logo-mask {
    width: 100%;
    height: 100vh;
  }
  
  .logo-mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-size: contain;
    /* background-image: url(../photos/lebron_transparent.png); */
  }